* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background: white;
  color: black;
  height: 100%;
  width: 100%;
  /*height och width här refererar till hela grundkoden/din body. Nu har vi berättat för din body att den alltid ska ta upp hela den tillgängliga skärmstorleken.*/
  font-size: 16px;
  /*Här sätter vi en fast punktstorlek som gäller för hela din webb. Den definieras från och med nu, i resten av din kod, som 1rem*/
  padding: 1rem;
  /*Lade till lite padding runt hela så det blir en skönare användarupplevelse*/
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

}

.logo {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 3rem;

}

.navbar-menu.active {
  display: flex;
  justify-content: end;
  padding-top: 0.5rem;
  padding-right: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: black;

}


p {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 0.8rem;
}


h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;

}


h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  padding-top: 3rem;

}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  padding-top: 2rem;

}

.big-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 550px;
  background-image: url("/bilder/Johan_Mark_2\ 2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}

.intro-copy {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: white;
  text-align: center;

}

.topfive {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
  margin-top: 2rem;
  background-color: black;

}

.topfive h3 {
  font-size: 1.7rem;
  color: white;
  margin-bottom: -2rem;
  text-align: center;

}

ol li {
  list-style: decimal inside;
  /*DETTA är det som gör att siffrorna hamnar på samma nivå som listans innehåll. Kolla marginalerna i inspect så förstår du! */
  padding-left: 2rem;
}

ul {
  list-style: none;
}

.topfourheadlines {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.topfourheadlines>ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;

}


.topfourheadlines li {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.065rem 0.25rem;
  padding: 1rem;
}

.topfourheadlines li h3,
.topfourheadlines li p {
  color: white;
  padding-left: 1rem;
  padding-bottom: 0.5rem;

}

.topfourheadlines>ul>li>figure {
  margin: 0;
  max-height: 272px;
  overflow: hidden;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  position: relative;

}

.topfourheadlines>ul>li>figure>img {
  width: 100%;
}

.topfourheadlines>ul>li>figure>figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.top-item-one .short-intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.second-big {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  padding: 3rem;
  height: 550px;
  background-image: url("/bilder/Johan_Mark_Tone_Yellow.jpg");
  background-size: cover;
  background-position: center;


}

.second-big h2 {
  text-align: center;
  color: white;

}

.two-stories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 40px;


}

.end-stories-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 450px;
  padding-bottom: 1rem;
  background-image: url("/bilder/Johan_Mark_Tone_Purple.jpg");
  background-size: cover;
  background-position: center;

}

.end-stories-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 450px;
  padding-bottom: 1rem;
  background-image: url("/bilder/Johan_Mark_Tone_Brown.jpg");
  background-size: cover;
  background-position: center;
}

.end-stories-one h2 {
  text-align: center;
  color: white;
}

.end-stories-two h2 {
  text-align: center;
  color: white;
}


.the-bar {
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  text-align: center;

}

@media (min-width: 1024px) {

  .big-news,
  .second-big,
  .end-stories-one,
  .end-stories-two {
    background-position: center top;

  }


  .topfive ol {
    /*här kmr din wrapping! Eller snarare, jag sket i den och gjorde det till två kolumner bara.*/
    column-count: 2;
    column-gap: 4rem;
  }


}