* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background: white;
  color: black;
  height: 100%;
  width: 100%;
  /*height och width här refererar till hela grundkoden/din body. Nu har vi berättat för din body att den alltid ska ta upp hela den tillgängliga skärmstorleken.*/
  font-size: 16px;
  /*Här sätter vi en fast punktstorlek som gäller för hela din webb. Den definieras från och med nu, i resten av din kod, som 1rem*/
  padding: 1rem;
  /*Lade till lite padding runt hela så det blir en skönare användarupplevelse*/
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px solid black;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

}

.logo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  color: black;
  font-size: 2rem;

}

.navbar-menu.active {
  display: flex;
}

.navbar-menu {
  display: flex;
  flex-direction: column;

}


.navbar-hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  height: 30px;

}

.navbar-hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: black;


}


a {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 0.8rem;
}


h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;

}


h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  padding-top: 3rem;

}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  padding-top: 2rem;

}

.big-news {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 550px;
  background-image: url("/technigo-project-news-site/bilder/Johan_Mark_\(kopia\).jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.intro-copy {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-bottom: 2rem;

}

.topfive {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 3.5rem;
  padding-left: 1rem;
  margin-top: 2rem;
  background-color: aquamarine;

}

.topfive h3 {
  margin-bottom: -2rem;
}


.topfourheadlines ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  background-color: pink;
  margin-top: 2rem;


}

ul {
  list-style: none;
}

.topfourheadlines li {
  border: solid 5px black;
  height: 27rem;


}

.topfourheadlines li figure img {
  width: 100%;

}



.top-item-one .short-intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}




.the-bar {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;

}